h1{
    text-align: center;
    margin: 10px 0px;
    color: rgb(79, 63, 179);
   
    
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(92, 34, 147);
}
.services{
    
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.card{
    width:25%;
    text-align: center;
    box-shadow: 0 0 3px black;
    padding: 10px;
    background: rgb(234, 233, 233);
}

.card p{
    color: black;
}
.services Img{
    width: 250px;
    height: 250px;
    object-fit: cover;

}

.card div{
    margin:10px auto;
}

@media screen and (max-width:990px) {
    .services{
        display:flex;
        justify-content:center;
        text-align: center;
        flex-wrap: wrap;
       

    }
    h1{
        font-size: 30px;
    }
    .card{
        width: 40%;
        margin-bottom: 15px;
        margin-right: 15px;
    }
    .servicesImg{
        width: 200px;
        height: 200px;
        object-fit: contain;
    }
}

@media screen and (max-width:768px) {
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
    .services{
        flex-direction: column;
    }    
    .card{
        width: 70%;
        margin: 10px auto;
    }

 }